/* Start.css */
.videoContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.8; /* Reduced opacity for a darker look */
}

.logo-container {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

.logo {
    width: 100%; /* Make logo responsive */
    height: auto;
    max-width: 800px;
    max-height: 90vh;
    aspect-ratio: auto;
    opacity: 1; /* Increased opacity for a brighter look */
    filter: brightness(3.2); /* Added brightness filter */
    transform: translateX(150%); /* Start from right side */
    transition: transform 2s ease-out, opacity 0.5s ease-in; /* Added transition for opacity */
}

.logo.visible {
    opacity: 1;
    transform: translateX(0%); /* End in the center */
}
