/* .navbar {
    background-color: #116dd7; 
}

.navbar-logo {
    margin-right: auto;
}

.navbar-container img {
    width: 16px;
    height: 44px;
    margin-left: 10px;
    margin-top: 10px;
}

.navbar-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-links li {
    margin-left: 30px;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #d24a4a;
}

.navbar-button {
    margin-left: 30px;
    background-color: #d24a4a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
} */