
body {
  overflow-x: hidden;
  overflow-y: auto; 
}
.train-wrapper{
  overflow: hidden;
  width: 100vw;

}
.train-container {
  animation: slide1 25s linear infinite;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  position: relative;
  width: 7680px;
}

/* Animations */
@keyframes slide1 {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-3245px); 
  }
}
  
