.text-box-container {
    display: flex;
    align-items: center;
}

.stand-container {
    min-width: 80px;
}

.text-box-container img {
    width: 100%;
    max-width: 600px;
}


.big-container {
    width: auto;
    min-height: 116px;
    display: flex;
    padding: 12px 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 35.725px;
    border: 1.985px solid #222;
    background: #225088;
}

.small-container {
    min-height: 92px;
    padding: 15px 30px;
    border-radius: 23.817px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    color: var(--Udgam-White, #F4F5F6);
    font-family: "TT Firs Neue Trl";
    font-size: 20px;
    text-transform: uppercase;
}

.text-container h1 {
    font-weight: 900;
    font-style: normal;
}

@media (max-width: 768px) {
    .text-container {
        font-size: 12px;
    }
    .text-box-container img {
        width: 100%;
        max-width: 300px;
    }
    .big-container {
        width: 50%;
        padding: 8px 5px;
        border-radius: 20px;
    }

    .small-container {
        padding: 10px 20px;
        border-radius: 15px;
    }

}