*{
  margin:0;
  padding:0;
  /* box-sizing:border-box; */
}
body {
    overflow-x: hidden;
    overflow-y: auto; 
    background-color: #eedfdf; /* Light background for better visibility */
}
#container {
    height: 200px;
    width: 100%;
    background-color: #d24a4a;
}